$assetPath :"../images";
@import 'button';
@import 'search-bar';


.header {
    background-image: url(#{$assetPath}/blue-mountains.png);
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.logo {
    font-size: 48px;
    line-height: 26px;
    letter-spacing: 4.8px;
    padding-top: 5rem;
}

.logo-p {
    text-align: center;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 6.82px;
}

.scroll-down {
    text-align: center;
}