@import 'fonts';

@media screen and (max-width: 440px) {
   
    .logo {
        font-size: 36px;
        text-align: center;
        letter-spacing: 1px;
    };

    .logo-p {
        font-size: 15px;
        letter-spacing: 1px;
    };

    .search-bar {
        font-size: 12px;
        padding: 0;
        margin: 0;
    };

    .search-btn {
        padding: 2px;
    };

    .nav-list li {
        display: none;
    };

    .nav-list .icon {
        float: right;
        display: block;
    };

    .nav-list.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    };

    .nav-list.responsive li {
        position: relative;
        float: none;
        display: block;
        text-align: left;
    };

    li {
        font-size: 13px;
        background-color: $grey;
        border: solid 1px $white;
        padding: 5px;
        text-align: center;
    };

    p {
        font-size: 60px;
        letter-spacing: -0.8px; 
    };


}