

@media screen and (max-width: 440px) {
    .logo {
        font-size: 36px;
        text-align: center;
        letter-spacing: 1px;
    };

    .logo-p {
        font-size: 15px;
        letter-spacing: 1px;
    };

    .search-bar {
        font-size: 12px;
        padding: 0;
        margin: 0;
    };

    .search-btn {
        padding: 2px;
    }
}