@import 'fonts';
@import 'colors';

.search-bar {
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 1.4px;
    text-align: center;
    color: $grey;
    border: solid $white;
    padding: 10px;
    padding-bottom: 8px;
    padding-left: 5rem;
    padding-right: 10rem;
    margin-right: -2px;

}