$assetPath :"../images";


.why-us {
    background-image: url(#{$assetPath}/thecastle.png);
    background-repeat: no-repeat;
    height: 100vh;
    
}

.flex-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: start;
    gap: 110px;
}

.text-section {
   letter-spacing: 1.6px;
    max-width: 560px;
    width: 100%;
    font-size: 16px;
    line-height: 26px;
    
}

.flex-img {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 1rem;
}

.flex-house {
    align-self: start;
}

.flex-mountains {
    justify-self: end;
}

.search-select-enjoy {
    height: 30vh;
    background-color: $grey;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    padding: 4rem;
}

