@import 'fonts';
@import 'header';
@import 'navigation';
@import 'sections';


body {
    max-width: 1740px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: $main-font;
    color: white;
    margin:auto;
}

h2 {
    font-family: $heading-btn-font;
    font-size: 36px;
    line-height: 26px;
    text-align: left;
}

h3 {
    font-size: 20px;
    line-height: 26px;
}

p {
    font-family: $main-font;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.6px;
}

section {
    margin: 0;
    padding: 0;
}