.btn, .search-btn {
  font-family: "Aleo", serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.4px;
  text-align: center;
  background-color: rgb(84, 116, 253);
  color: rgb(255, 255, 255);
  padding: 10px;
  padding-left: 2rem;
  padding-right: 2rem;
  border: none;
}

.search-btn {
  font-size: 14px;
  border: solid 2px rgb(255, 255, 255);
  margin-left: -4px;
}

.search-btn:hover, .btn:hover {
  background-color: #333333;
  cursor: pointer;
}

.search-bar {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 1.4px;
  text-align: center;
  color: #333333;
  border: solid rgb(255, 255, 255);
  padding: 10px;
  padding-bottom: 8px;
  padding-left: 5rem;
  padding-right: 10rem;
  margin-right: -2px;
}

.header {
  background-image: url(../images/blue-mountains.png);
  background-repeat: no-repeat;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-size: 48px;
  line-height: 26px;
  letter-spacing: 4.8px;
  padding-top: 10rem;
}

.logo-p {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 6.82px;
}

.scroll-down {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2.8px;
}

.nav-bar {
  max-width: 1740px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 10rem;
  background-color: rgb(84, 116, 253);
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
  font-family: "Aleo", serif;
}

li {
  list-style: none;
  text-transform: uppercase;
  font-size: 14px;
}

.nav-bar-logo {
  height: 20px;
}

a:link, a:visited {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a:hover {
  color: #333333;
}

.why-us {
  background-image: url(../images/thecastle.png);
  background-repeat: no-repeat;
  height: 100vh;
}

.flex-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: start;
  gap: 110px;
}

.text-section {
  letter-spacing: 1.6px;
  max-width: 560px;
  width: 100%;
  font-size: 16px;
  line-height: 26px;
}

.flex-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem;
  gap: 1rem;
}

.flex-house {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.flex-mountains {
  -ms-grid-column-align: end;
      justify-self: end;
}

.search-select-enjoy {
  height: 30vh;
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem;
}

body {
  max-width: 1740px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Josefin Sans";
  color: white;
  margin: auto;
}