@import 'fonts';
@import 'header';
@import 'navigation';
@import 'sections';
@import 'footer';
@import 'responsive-styles';

body {
    max-width: 1740px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: $main-font;
    color: white;
    margin:auto;
}

h2, .h2-testimon {
    font-family: $heading-btn-font;
    font-size: 36px;
    line-height: 26px;
    text-align: left;
    font-weight: 400;
}

h3, h4 {
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
}

h4 {
    letter-spacing: 1.5px;
}

p {
    font-family: $main-font;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.6px;
    
}

section {
    margin: 0;
    padding: 0;
}